*{
    /* margin: 0px; */
    background-color: rgb(212, 200, 182);
}

.restaurat{
    display: flex;
    margin-left: 30px;

}
.restaurat-description{
    padding-top: 10px;
    text-align: center;
}

